# Logs
logs
*.log*

# Runtime data
pids
*.pid
*.seed
*.lock

# VSCode metadata
.vscode

# Mac files
.DS_Store

# Dependency directories
vendor

# Build directory
build

# gitkeep
!.gitkeep

# IDE
.idea
*.iml
